.medium-editor-insert-embed-chapters-active {
    &:not(.align-left) {
        outline: 2px solid #000;
    }

    &.align-left > div {
        outline: 2px solid #000;
    }
}

.medium-editor-insert-embed-chapters {
  &.align-left {
    float: left;
  }
}
