.medium-insert-editor-embeds-input {
    position: relative;
    color: #ccc;
    z-index: 1;
    text-align: left;
}

.medium-editor-insert-embeds-placeholder {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-placeholder);
        color: #ccc;
    }
}

.medium-editor-insert-embeds-selected {
    .medium-editor-insert-embed {
        outline: 2px solid #000;
    }
}

.medium-editor-insert-embeds-toolbar {
    display: none;
}

.medium-editor-insert-embeds-item {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.medium-editor-insert-embeds-item-container {

}

.medium-editor-insert-embeds-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.medium-editor-insert-embed-active {
    outline: 2px solid #000;
}
