.medium-editor-insert-image-active {
    outline: 2px solid #000;
}

.medium-editor-insert-images {
    position: relative;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    img {
        max-width: 100%;
    }
}

.medium-editor-insert-images.align-left {
    float: left;
    width: 50%;
}

.medium-editor-insert-images.align-right {
    float: right;
    width: 50%;
}

.medium-editor-insert-images.align-center {
    display: block;
    text-align: center;
}

.medium-editor-insert-image-active ~ .medium-editor-embed-image-description {
    display: inline-block;
}

.medium-editor-insert-image-active ~ .medium-editor-embed-image-description:empty + span:after {
    content: attr(data-placeholder);
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 14px;
    text-align: center;
    right: 0;
    height: 25px;
    opacity: .5;
    pointer-events: none;
}

.medium-editor-embed-image-description-container {
    text-align: center;
    font-size: 14px;
    margin-top: -4px;
}

.medium-editor-embed-image-description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    cursor: text;
}

.medium-editor-insert-image-active + .medium-editor-embed-image-description-container .medium-editor-embed-image-description:empty:after {
    content: attr(data-placeholder);
    opacity: .5;
}