.medium-editor-insert-image-active {
    outline: 2px solid #000;
}

.medium-editor-insert-images {
    position: relative;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.medium-editor-insert-images.align-left {
    img {
        width: 50%;
        float: left;
        margin-right: 20px;
    }

    .medium-editor-embed-image-description {
        width: 50%;
    }
}

.medium-editor-insert-images.align-right {
    img {
        width: 50%;
        float: right;
        margin-left: 20px;
    }

    .medium-editor-embed-image-description {
        width: 50%;
        float: right;
    }
}

.medium-editor-insert-images.align-center {
    display: block;
    text-align: center;
}

.medium-editor-embed-image-description {
    display: inline-block;
    border: 1px dashed rgba(0, 0, 0, .2);
    vertical-align: top;
    font-size: 14px;
    min-height: 30px;
    width: 100%;
    text-align: center;
    font-style: italic;
    position: relative;
    margin-top: -4px;
}

.medium-editor-embed-image-description:empty {
    display: none;
}

.medium-editor-insert-image-active ~ .medium-editor-embed-image-description {
    display: inline-block;
}

.medium-editor-insert-image-active ~ .medium-editor-embed-image-description:empty + span:after {
    content: attr(data-placeholder);
    position: absolute;
    left: 0;
    bottom: 30px;
    font-size: 14px;
    text-align: center;
    right: 0;
    height: 25px;
    opacity: .5;
    pointer-events: none;
}
